@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* shared styles */

.btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgba(13, 19, 33, 0.7);
    cursor: pointer;
}
.heading{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0;
}
.sub-title{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   text-align: center;
   opacity: 0.7;
   margin-bottom: 48px;
}
/* nav styles start */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    
}
nav .nav-item{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}
.nav-btn a{
    text-decoration: none;
    color: rgb(13, 19, 33 ,0.8);
}

.nav-btn{
   
   padding: 17px 24px 17px 24px;
   border-radius: 8px;
}
/* nav styles end */

/* banner section starts */
.banner-section{
    max-width: 1366px;
    height: 652px;
    background-image: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    margin-bottom: 80px;
}
.banner-container{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.banner-img{
    width: 242px;
    height: 240px;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-container .banner-content h1{
    color: rgb(13, 19, 33);
   font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.banner-container .banner-content p{
    color: rgb(13, 19, 33);
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   text-align: center;
  opacity: 0.7;
   margin-bottom: 24px;
}

.bg-btn{
    color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  text-align: center;
  padding: 21px 24px 21px 24px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.banner-btn{
    text-align: center;
}
/* banner section ends */

/* web dev section starts */

.web-dev-section{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    margin-bottom: 80px;
}
.web-dev-content {
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.web-dev-items{
    width: 946px;
    height: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin:30px 0;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
}
.web-dev-items .web-dev-description{
    width: 477px;
    height: 247px;
   margin: 0 100px;
}

.web-dev-items .web-dev-description h4{
    color: rgba(13, 19, 33, 0.7);
   font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 16px 0px;
}
.web-dev-items .web-dev-description p{
    color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 16px 0px;
  opacity: 0.7;
}
.dev-btn{
    padding: 12px 20px 12px 20px;
    opacity: 0.7;
    margin: 24px 0;
}

/* web dev section ends */

/* inspiration section starts */
.inspiration-section{
    width: 1140px;
    height: 810px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.inspiration-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inspirational-video{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin: 38px 0;
}
.inspirational-video iframe{
    border-radius: 16px;
}

/* inspiration section ends */

/* current target section starts */
.current-target-section{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.current-target-section-container{
    width: 1140px;
    height: 299px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0;
}
.current-sec-items{
    width: 33.33%;
    height: 100%;
    padding: 40px;
    margin: 0 24px;
}
.current-sec-items h4{
    color: rgb(13, 19, 33);
   font-size: 24px;
   font-weight: 800;
   line-height: 36px;
   text-align: left;
   margin: 8px 0;
}
.current-sec-items p{
    color: rgb(13, 19, 33);
   font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
}
.current-sec-items button{
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
  margin: 24px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.current-sec-items button a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.html-bg{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.css-bg{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.js-bg{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* current target section ends */

/* next-target section starts */
.next-target-section{
    width: 1140px;
    height: 895px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.next-target-items{
    width: 1140px;
    height: 219px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 40px;
}

.next-target-content h4{
    color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  margin: 8px 0;
}
.next-target-content p{
    color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
}
.next-target-content button{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
.next-target-img{
    margin-right: 25px;
}
.react{
    width: 941.22px;
    height: 139px;
}
.node{
    width: 892.49px;
    height: 139px;
}
.mongodb{
    width: 928px;
   height: 139px;
}
/* next-target section ends */

/* support section start */
.support-section{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    background-image: url("assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    margin-bottom: 80px;
}
.support-section-container{
    width: 1044px;
    height: 186px;
    margin: 0 auto;
}
.support-sec-content h3{
    color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 16px 0;
}
.support-sec-content p{
    color: rgb(255, 255, 255);
   font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
  margin: 20px 0;
}
.support-section-container form{
    text-align: center;
}
.support-section-container form input[type="search"]{
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   border: 1px solid rgba(13, 19, 33, 0.15);
   border-radius: 8px;
   background: rgb(255, 255, 255);
   margin: 0 16px;
   padding: 19px 20px 19px 20px;
   outline: 0;

}
.support-section-container form input[type="submit"]{
    color: rgb(13, 19, 33);
   font-size: 20px;
   font-weight: 600;
   line-height: 23px;
   text-align: center;
   border-radius: 8px;
   background: rgb(255, 255, 255);
   padding: 17px 20px 17px 20px;
   border: none;
   cursor: pointer;
}
/* support section end*/

/* footer section starts */
#footer-sec{
    max-width: 1366px;
    height: 100px;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-sec-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content h4{
    color: rgb(13, 19, 33);
   font-size: 20px;
   font-weight: 600;
   line-height: 23px;
   text-align: center;
  
}
.footer-contact-items a{
    margin: 16px;
}
/* footer section ends */